<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This allows us to take photos and attach them to any .</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows us to pick photos and attach them to any .</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This allows us to record videos and attach them to any .</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to the calendar to be able to schedule new </string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Portol</string>
	<key>CFBundleIdentifier</key>
	<string>com.PortolMobile.App</string>
	<key>CFBundleName</key>
	<string>Portol</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIconPortol.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleShortVersionString</key>
	<string>0.53.0</string>
	<key>CFBundleVersion</key>
	<string>0.53.0</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This allows us to know your location and deliver your parcel</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This allows us to know your location and deliver your parcel</string>
	<key>UIAppFonts</key>
	<array>
		<string>ARLRDBD.ttf</string>
		<string>lucidagrande.ttf</string>
	</array>
</dict>
</plist>
